.tcontainer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding: 10px;
  background-color: #f0a55ada;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 30px;
}

.tcontainer > div {
  width: 100%;
}

.table-container {
  flex: 2;  
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table-container th, .table-container td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table-container th {
  background-color: #ed9135;
  color: white;
  font-weight: bold;
}

.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.chart-container {
  flex: 2; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container p {
  text-align: center;
  font-size: 16px;
  color: #555;
}

@media (max-width: 1024px) {
  .tcontainer {
      flex-direction: column;
      gap: 20px;
  }

  .table-container, .chart-container {
      width: 100%;
      margin-bottom: 20px;
  }

  .chart-container {
      flex: 1;
  }
}

@media (max-width: 768px) {
  .tcontainer {
      padding: 15px;
  }

  .table-container, .chart-container {
      margin-bottom: 15px;
  }
}
