.table-container {
    margin: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    text-align: center;
    padding: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  .pagination .page-item {
    margin: 0 5px;
  }
  
  .pagination .page-link {
    color: #4caf50;
    text-decoration: none;
  }
  
  .pagination .active .page-link {
    background-color: #4caf50;
    color: white;
  }
  